.title-tooltip {
  background: rgba(255, 255, 255, .9);
  border: 2px solid #457Dfb;
  border-radius: .1em;
  font-size: .7em;
  opacity: 0;
  padding: .25em .5em;
  position: absolute;
  bottom: 2em;
  left: calc(50% - 8em);
  text-align: center;
  transform: translateY(-.25em);
  transition: visibility 0s .5s, opacity .2s ease-out, transform .5s cubic-bezier(0, 1, .5, 1);
  visibility: hidden;
  width: 16em;
  z-index: 10;
}

.title-tooltip::after {
  content: "";
  border-style: solid;
  border-color: #457Dfb transparent;
  border-radius: 0;
  border-width: .2em .2em 0 .2em;
  position: absolute;
  bottom: -.2em;
  left: calc(50% - .2em);
  width: 0;
}

.anchor-tooltip:hover .title-tooltip {
  opacity: 1;
  transform: none;
  transition: opacity .2s ease-out, transform .5s cubic-bezier(0, 1, .5, 1);
  visibility: visible;
}