:root {
  --clr-dark: #070a12;
  --clr-light: #f9f9fb;
  --clr-accent: #f43f70;
  --clr-rgba: rgba(244, 63, 112, 0.2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  word-spacing: 1.4px;
  color: var(--clr-dark);
  background-color: var(--clr-light);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }

  to {
    transform: translateX(0px);
  }
}

.slideInLeft {
  /* animation-name: slideInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both; */
  animation: slideInLeft 1s ease-in;
}